body{
    margin: 0;
    padding: 0;
    
}
h1{
    font-weight: 900;
    font-size: 60px;
    line-height: 1.2;
    animation: hero ease-in 0.7s ;
}
.hero p{
    animation: hero ease-in 0.7s ;
}
.hero::before{
    content: "";
    inset: 0;
    background: rgba(0,0,0,0.5);
}
.hero{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/hero.png) center/cover no-repeat ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
    padding-left: 80px;
    font-weight: 700;
    
}
@keyframes hero{
    0%{ opacity: 0;}
    100%{ opacity:1;}
}
span{
    color: red;
}
.bt{
    align-items: left;
    width: 200px;
    font-weight: 600;
    font-size: 17px;
    background: #ff7a00;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    
    animation: btn ease 0.4s ;
    
}
@keyframes btn{
   
    to{
        transform: scale(1.05);
        
    }
}
.bt:hover{
    
    transform: scale(1.05);
    background: #e96b00;
}

/* this part for presentation section */

h2{
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}
.img_content {
  position: relative;
  width: 400px;
  height: 300px;
}


/* COMMON STYLE */
.img_content>.img {
  position: absolute;
  width: 180px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* TOP LEFT */
.pre_2 {
  top: 0;
  left: 40px;
  z-index: 1;
}

/* CENTER (MAIN IMAGE) */
.pre_1 {
  top: 60px;
  left: 120px;
  width: 200px;
  height: 160px;
  z-index: 3;
}

/* BOTTOM LEFT */
.pre_3 {
  top: 150px;
  left: 20px;
  z-index: 2;
}